{% extends 'base.html' %}

{% block title  %}Recipes{% endblock %}
{%block body %}
<style>
table, tr, td, th{
	border:1px solid black;


}
td, th {
	text-align: center;
}
</style>
{% for x in recipe %}
<h2>Title of recipe: {{x.recipe_title}}


	</h2>

<!-- Displays a season -->
<p>Recipe for a
	{% if x.recipe_season == "SP" %}
		"spring season"
	{% endif %}
</p>


<table>
<tr> <th>List of ingredients</th> </tr>

{% if x.ingredient_one%}
<tr>
	<td>{{x.ingredient_one}}</td>
</tr>
{% endif %}

{% if x.ingredient_two%}
<tr>
	<td>{{x.ingredient_two}}</td>
</tr>
{% endif %}

{% if x.ingredient_three%}
<tr>
	<td>{{x.ingredient_three}}</td>
</tr>
{% endif %}
{% if x.ingredient_four%}
<tr>
	<td>{{x.ingredient_four}}</td>
</tr>
{% endif %}
{% if x.ingredient_five%}
<tr>
	<td>{{x.ingredient_five}}</td>
</tr>
{% endif %}
{% if x.ingredient_six%}
<tr>
	<td>{{x.ingredient_six}}</td>
</tr>
{% endif %}
{% if x.ingredient_seven%}
<tr>
	<td>{{x.ingredient_seven}}</td>
</tr>
{% endif %}
{% if x.ingredient_eight%}
<tr>
	<td>{{x.ingredient_eight}}</td>
</tr>
{% endif %}
{% if x.ingredient_nine%}
<tr>
	<td>{{x.ingredient_nine}}</td>
</tr>
{% endif %}
{% if x.ingredient_ten%}
<tr>
	<td>{{x.ingredient_ten}}</td>
</tr>
{% endif %}

</table>
{% endfor%}
{% endblock %}
